table {
            border-collapse: collapse;
            
            color: black;
        }
         
        th,
        td {
            font-weight: bold;
        }


th {

 color: white;
 background: red;
    
    }




td:hover {background-color: red;}





